body {
    overflow-x: hidden;
    scroll-behavior: smooth;

    // stars background...
    @include stars;

    #nave {
        position: fixed;
        width: 10%;
        bottom: 300px;
        left: -1000px;
        animation: nave 20s ease-in-out forwards infinite;
    }
    
    .background {
        width: 100vw;
        height: 100vh;
        z-index: -2;
        position: fixed;
        animation: background 30s alternate infinite ease-in-out;
    }

    .header__home {
        @include header;
        
        #home {
            border-bottom: 1px solid #fff;
        }
    }

    .main__home {
        @include main;
        padding-top: 70px;
    
        .slider {
            margin-top: 100px;
            width: 200%;
    
            .slides {
                position: relative;
                width: 100%;
                display: flex;
    
                #radio1:checked ~ .first {
                    margin-left: 0;
                }
    
                #radio2:checked ~ .first {
                    margin-left: -50%;
                }
    
                input {
                    display: none;
                }
    
                #radio2 {
                    margin-left: 20px;
                }
    
                .slide {
                    width: 50%;
                    transition: 1s;
    
                    img {
                        width: 100%;
                    }   
                }
    
                .labels {
                    position: absolute;
                    bottom: 20px;
                    margin: 0 auto;
                    width: 50%;
                    z-index: 998;
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    justify-content: center;
                    
                    label {
                        cursor: pointer;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        border: 1px solid #fff;
                        transition: .5s;
    
                        &:hover {
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    
        // first section...
        .first__section {
            margin: 80px 0;

            h1 {
                @include h1-text;
                text-transform: uppercase;
                border-bottom: 1px solid #fff;
                margin-bottom: 50px;
            }

            .noticias__first {
                width: 100%;
                height: 600px;
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-rows: 1fr 1fr;
                gap: 20px;
                grid-template-areas: 'image3 image2'
                                     'image1 image2';

                img {
                    width: 100%;
                }

                #image1 {
                    @include noticias-home (image1);
                    background-image: url(img/noticias/buracos\ negros.jpg);

                    h3 {
                        @include h3-noticias;
                        @include general-text (1rem, 300, #fff);
                    }

                    h3:hover {
                        @include h3-noticias-hover;
                    }
                }

                #image2 {
                    @include noticias-home (image2);
                    background-image: url(img/noticias/foguete.jpg);

                    h3 {
                        @include h3-noticias;
                        @include general-text (1rem, 300, #fff)
                    }

                    h3:hover {
                        @include h3-noticias-hover;
                    }
                }


                #image3 {
                    @include noticias-home (image3);
                    background-image: url(img/noticias/galaxias.png);

                    h3 {
                        @include h3-noticias;
                        @include general-text (1rem, 300, #fff)
                    }

                    h3:hover {
                        @include h3-noticias-hover;
                    }
                }
            }

            .noticias__second {
                margin-top: 20px;
                width: 100%;
                height: 600px;
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 20px;
                grid-template-areas: 'image4 image5'
                                     'image4 image6';

                img {
                    width: 100%;
                }

                #image4 {
                    @include noticias-home (image4);
                    background-image: url(img/noticias/saturno.jpg);

                    h3 {
                        @include h3-noticias;
                        @include general-text (1rem, 300, #fff);
                    }

                    h3:hover {
                        @include h3-noticias-hover;
                    }
                }

                #image5 {
                    @include noticias-home (image5);
                    background-image: url(img/noticias/telescopio.png);

                    h3 {
                        @include h3-noticias;
                        @include general-text (1rem, 300, #fff)
                    }

                    h3:hover {
                        @include h3-noticias-hover;
                    }
                }


                #image6 {
                    @include noticias-home (image6);
                    background-image: url(img/noticias/super\ lua.png);

                    h3 {
                        @include h3-noticias;
                        @include general-text (1rem, 300, #fff)
                    }

                    h3:hover {
                        @include h3-noticias-hover;
                    }
                }
            }

            #vermais {
                margin-top: 50px;
                @include general-text (2rem, 300, #fff);
                text-decoration: none;
                text-shadow: 0 0 5px #fff;
                display: block;
                text-align: center;
            }

            .arrow__div {
                display: flex;
                justify-content: center;

                #arrow {
                    width: 50px;
                    color: #fff;
                    animation: effect1 15s ease-in-out 0s infinite reverse forwards;
                }
            }
        }

        .second__section {
            position: relative;

            #titleSolarSystem {
                @include h1-text;
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                border-bottom: 1px solid #fff;
                margin-bottom: 50px;
            }

            &__content {
                position: relative;
                z-index: 0;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-around;

                &__pbtn {
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        padding: 40px 20px;
                        @include general-text (.9rem, 300, #fff);
                        letter-spacing: 3px;
                        text-align: left;
                        line-height: 25px;
                        background: rgba(255,255,255, 0.03);
                        box-shadow: 0 15px 35px rgba(0,0,0,0.2);
                        border-bottom: 5px solid rgba(255,255,255, 0.1);
                        border-left: 5px solid rgba(255,255,255, 0.1);
                        border-radius: 30px;
                        z-index: 1;
                        backdrop-filter: blur(10px);
                        transition: 1s;
                        cursor: pointer;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    .btn {
                        position: relative;
                        width: 180px;
                        height: 60px;
                        margin: 50px 0;
            
                        &::before {
                            content: '';
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: 50%;
                            width: 30px;
                            height: 10px;
                            background: #fff;
                            box-shadow: 0 0 15px #fff,
                                        0 0 30px #fff,
                                        0 0 60px #fff;
                            border-radius: 10px;
                            transition: .5s;
                            transition-delay: 0s;
                        }
            
                        &:hover::before {
                            bottom: 0;
                            width: 85%;
                            height: 100%;
                            border-radius: 30px;
                            transition-delay: .5s;
                        }
            
                        a {
                            font-family: 'nasa', serif;
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: rgba(255,255,255, 0.05);
                            box-shadow: 0 15px 35px rgba(0,0,0,0.2);
                            border-top: 1px solid rgba(255,255,255, 0.1);
                            border-bottom: 1px solid rgba(255,255,255, 0.1);
                            border-radius: 5px;
                            color: #fff;
                            z-index: 1;
                            font-weight: 400;
                            letter-spacing: 1px;
                            text-decoration: none;
                            overflow: hidden;
                            transition: .5s;
                            backdrop-filter: blur(10px);
            
                            &:hover {
                                transition-delay: .6s;
                                letter-spacing: 3px;
                                color: #aa7d00;
            
                                &::before {
                                    transform: skewX(45deg) translateX(200%);
                                }
                            }
            
                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 50%;
                                height: 100%;
                                background: linear-gradient(to left, rgba(255,255,255, 0.15),
                                transparent);
                                transform: skewX(45deg) translateX(0);
                                transition: .5s;
                            }
                        }
                    }

                }

                .solarSystem {
                    width: 600px;
                    height: 600px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    visibility: hidden;

                    #sun {
                        position: absolute;
                        width: 130px;
                        height: 130px;
                        animation: sun 5s linear infinite;
                    }

                    // planets
                    .mercury {
                        @include orbit__solar__system (25%, 25%);

                        #mercury {
                            width: 5%;
                            animation: mercury 2s linear infinite;
                        }
                    }

                    .venus {
                        @include orbit__solar__system (32%, 32%);

                        #venus {
                            width: 5%;
                            animation: venus 4s linear infinite;
                        }
                    }

                    .earth {
                        @include orbit__solar__system (39%, 39%);
                        
                        #earth {
                            width: 6%;
                            animation: earth 6s linear infinite;
                            position: relative;
                            z-index: 1;
                        }

                       

                    
                    }

                    .mars {
                        @include orbit__solar__system (46%, 46%);

                        #mars {
                            width: 5%;
                            animation: mars 8s linear infinite;
                        }
                    }

                    .jupiter {
                        @include orbit__solar__system (53%, 53%);

                        #jupiter {
                            width: 10%;
                            animation: jupiter 10s linear infinite;
                        }
                    }

                    .saturn {
                        @include orbit__solar__system (60%, 60%);

                        #saturn {
                            width: 18%;
                            animation: saturn 14s linear infinite;
                        }
                    }
                    
                    .uranus {
                        @include orbit__solar__system (67%, 67%);

                        #uranus {
                            width: 4%;
                            animation: uranus 20s linear infinite;
                        }
                    }

                    .neptune {
                        @include orbit__solar__system (74%, 74%);

                        #neptune {
                            width: 4%;
                            animation: neptune 25s linear infinite;
                        }
                    }
                }
            }
        }
    } 
}

.footer {
    height: 100px;
    background: linear-gradient(to top, #000, transparent);
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

    &__logo {
        @include general-text (1.5rem, normal, #fff);
        text-shadow: 0 0 5px #fff;
        text-decoration: none;
        font-family: 'nasa', serif; 

        span {
            @include general-text (1rem, 300, #fff);
        }
    }

    &__content {

        ul {
            display: flex;
            gap: 40px;

            a {
                text-decoration: none;
                li {
                    list-style: none;
                    @include general-text (.8rem, 500, #fff);
                    letter-spacing: 3px;
                }
            }
        }
    }
}





// mobile
@media (max-width: 480px) {

    body {
        overflow-x: hidden;
        scroll-behavior: smooth;
    
        // stars background...
        @include stars;
    
        #nave {
            position: fixed;
            width: 10%;
            bottom: 300px;
            left: -1000px;
            animation: nave 20s ease-in-out forwards infinite;
        }
        
        .background {
            width: 100vw;
            height: 100%;
            z-index: -2;
            position: fixed;
            animation: background 30s alternate infinite ease-in-out;
        }
    
        .header__home {
            @include header-mobile;
        }
    
        .main__home {
            @include main-mobile;
        
            // first section...
            .first__section {
                margin: 50px 0;
    
                h1 {
                    @include h1-text-mobile;
                    text-transform: uppercase;
                    border-bottom: 1px solid #fff;
                    margin-bottom: 50px;
                }
    
                .noticias__first {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
    
                    img {
                        width: 100%;
                    }
    
                    #image1 {
                        width: 100%;
                        height: 200px;
                        background-image: url(img/noticias/buracos\ negros.jpg);
    
                        h3 {
                            @include h3-noticias;
                            @include general-text (1rem, 300, #fff);
                        }
    
                        h3:hover {
                            @include h3-noticias-hover;
                        }
                    }
    
                    #image2 {
                        width: 100%;
                        height: 200px;
                        background-image: url(img/noticias/foguete.jpg);
    
                        h3 {
                            @include h3-noticias;
                            @include general-text (1rem, 300, #fff)
                        }
    
                        h3:hover {
                            @include h3-noticias-hover;
                        }
                    }
    
    
                    #image3 {
                        width: 100%;
                        height: 200px;
                        background-image: url(img/noticias/galaxias.png);
    
                        h3 {
                            @include h3-noticias;
                            @include general-text (1rem, 300, #fff)
                        }
    
                        h3:hover {
                            @include h3-noticias-hover;
                        }
                    }
                }
    
                .noticias__second {
                    margin-top: 20px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    display: none;
                }
    
                #vermais {
                    margin-top: 30px;
                    @include general-text (1.5rem, 300, #fff);
                    text-decoration: none;
                    text-shadow: 0 0 5px #fff;
                    display: block;
                    text-align: center;
                }
    
                .arrow__div {
                    display: flex;
                    justify-content: center;
    
                    #arrow {
                        width: 50px;
                        color: #fff;
                        animation: effect1 15s ease-in-out 0s infinite reverse forwards;
                    }
                }
            }
    
            .second__section {
                position: relative;
    
                #titleSolarSystem {
                    @include h1-text;
                    display: block;
                    text-decoration: none;
                    text-transform: uppercase;
                    border-bottom: 1px solid #fff;
                    margin-bottom: 50px;
                }
    
                &__content {
                    position: relative;
                    z-index: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-wrap: nowrap;
                    justify-content: space-around;
    
                    &__pbtn {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
    
                        p {
                            width: 90%;
                            padding: 40px 20px;
                            @include general-text (.9rem, 300, #fff);
                            letter-spacing: 3px;
                            text-align: left;
                            line-height: 25px;
                            background: rgba(255,255,255, 0.03);
                            box-shadow: 0 15px 35px rgba(0,0,0,0.2);
                            border-bottom: 5px solid rgba(255,255,255, 0.1);
                            border-left: 5px solid rgba(255,255,255, 0.1);
                            border-radius: 30px;
                            z-index: 1;
                            backdrop-filter: blur(10px);
                            transition: 1s;
                            cursor: pointer;
    
                            &:hover {
                                transform: scale(1.1);
                            }
                        }
    
                        .btn {
                            order: 2;
                            position: relative;
                            width: 150px;
                            height: 60px;
                            margin: 50px 0;
                
                            &::before {
                                content: '';
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                                bottom: 50%;
                                width: 30px;
                                height: 10px;
                                background: #fff;
                                box-shadow: 0 0 15px #fff,
                                            0 0 30px #fff,
                                            0 0 60px #fff;
                                border-radius: 10px;
                                transition: .5s;
                                transition-delay: 0s;
                            }
                
                            &:hover::before {
                                bottom: 0;
                                width: 85%;
                                height: 100%;
                                border-radius: 30px;
                                transition-delay: .5s;
                            }
                
                            a {
                                font-family: 'nasa', serif;
                                position: absolute;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: rgba(255,255,255, 0.05);
                                box-shadow: 0 15px 35px rgba(0,0,0,0.2);
                                border-top: 1px solid rgba(255,255,255, 0.1);
                                border-bottom: 1px solid rgba(255,255,255, 0.1);
                                border-radius: 5px;
                                color: #fff;
                                z-index: 1;
                                font-weight: 400;
                                letter-spacing: 1px;
                                text-decoration: none;
                                overflow: hidden;
                                transition: .5s;
                                backdrop-filter: blur(10px);
                
                                &:hover {
                                    transition-delay: .6s;
                                    letter-spacing: 3px;
                                    color: #aa7d00;
                
                                    &::before {
                                        transform: skewX(45deg) translateX(200%);
                                    }
                                }
                
                                &::before {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 50%;
                                    height: 100%;
                                    background: linear-gradient(to left, rgba(255,255,255, 0.15),
                                    transparent);
                                    transform: skewX(45deg) translateX(0);
                                    transition: .5s;
                                }
                            }
                        }
    
                    }
    
                    .solarSystem {
                        order: 1;
                        width: 400px;
                        height: 400px;
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        visibility: hidden;
    
                        #sun {
                            position: absolute;
                            width: 130px;
                            height: 130px;
                            animation: sun 5s linear infinite;
                        }
    
                        // planets
                        .mercury {
                            @include orbit__solar__system (25%, 25%);
    
                            #mercury {
                                width: 5%;
                                animation: mercury-mobile 2s linear infinite;
                            }
                        }
    
                        .venus {
                            @include orbit__solar__system (32%, 32%);
    
                            #venus {
                                width: 5%;
                                animation: venus-mobile 4s linear infinite;
                            }
                        }
    
                        .earth {
                            @include orbit__solar__system (39%, 39%);
                            
                            #earth {
                                width: 6%;
                                animation: earth-mobile 6s linear infinite;
                                position: relative;
                                z-index: 1;
                            }
    
                        }
    
                        .mars {
                            @include orbit__solar__system (46%, 46%);
    
                            #mars {
                                width: 5%;
                                animation: mars-mobile 8s linear infinite;
                            }
                        }
    
                        .jupiter {
                            @include orbit__solar__system (53%, 53%);
    
                            #jupiter {
                                width: 10%;
                                animation: jupiter-mobile 10s linear infinite;
                            }
                        }
    
                        .saturn {
                            @include orbit__solar__system (60%, 60%);
    
                            #saturn {
                                width: 18%;
                                animation: saturn-mobile 14s linear infinite;
                            }
                        }
                        
                        .uranus {
                            @include orbit__solar__system (67%, 67%);
    
                            #uranus {
                                width: 4%;
                                animation: uranus-mobile 20s linear infinite;
                            }
                        }
    
                        .neptune {
                            @include orbit__solar__system (74%, 74%);
    
                            #neptune {
                                width: 4%;
                                animation: neptune-mobile 25s linear infinite;
                            }
                        }
                    }
                }
            }
        } 
    }
    
    .footer {
        width: 100vw;
        height: 100px;
        background: linear-gradient(to top, #000, transparent);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: center;
    
        &__logo {
            @include general-text (1.5rem, normal, #fff);
            text-shadow: 0 0 5px #fff;
            text-decoration: none;
            font-family: 'nasa', serif; 
    
            span {
                @include general-text (1rem, 300, #fff);
            }
        }
    
        &__content {
    
            ul {
                margin: 0 auto;
                max-width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 10px;
    
                a {
                    text-decoration: none;
                    li {
                        list-style: none;
                        @include general-text (.7rem, 500, #fff);
                        letter-spacing: 2px;
                    }
                }
            }
        }
    }
}
